In [1]:
# showing the output the enduser

In [8]:
# func_name()

print('Kislay')

Kislay

In [5]:
print(I am Kislay, how are you)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1858157907.py, line 1)

In [6]:
print(5)
print(1.5)

5
1.5

In [9]:
# Numbers - Integer, float, Complex we dont need the double quotation/single quotation
# String - needs the double quotation/single quotation

In [10]:
# Data Types including complex numbers

In [21]:
# string
print("Hi how are you")

Hi how are you

In [56]:
# integer
print(3)
print(-3)

type(3)

3
-3

int

In [25]:
print(1e309)

inf

In [57]:
# float or decimal number
print(3.34224)
print(-3.123123)

type(3.4)

3.34224
-3.123123

float

In [30]:
print(1.1e308)

1.1e+308

In [58]:
# complex
print(2.7 + 3j)

type(2.7 + 3j)

(2.7+3j)

complex

In [59]:
# boolean
print(True)

type(True)

True

bool

In [38]:
False

False

In [40]:
# list

print([1,2,3, "Rahila", "Megha12", True])

[1, 2, 3, 'Rahila', 'Megha12', True]

In [60]:
# tuple
print((1,2,3, "Rahila", "Megha12", True))

type((1, 2, 3, 'Rahila', 'Megha12', True))

(1, 2, 3, 'Rahila', 'Megha12', True)

tuple

In [42]:
# set
print({1,2,3, "Rahila", "Megha12", True})

{'Rahila', 1, 2, 3, 'Megha12'}

In [61]:
# dictionary -> key - value pair
print({"name" : "Kislay", "age" : 36, "gender" : "male"})

type({'name': 'Kislay', 'age': 36, 'gender': 'male'})

{'name': 'Kislay', 'age': 36, 'gender': 'male'}

dict

In [49]:
print("Kislay", end = "-")
print("Megha", end = "-")
print("Rahila", end = "-")

Kislay-Megha-Rahila-

In [54]:
print("Kislay", "Raj", sep = " ")

Kislay Raj

In [55]:
type("Kislay")

str

In [62]:
type("2")

str

In [64]:
# Variables

name = "Kislay"

In [65]:
print(name)

Kislay

In [66]:
print(type(name))

<class 'str'>

In [67]:
age = 12
is_married = False

In [68]:
c_num = 3 + 5j

In [73]:
c_num.real

3.0

In [74]:
# Static vs Dynamic Typing

In [76]:
# str name = "Rahila" -> Other programming language # Static Typing

name = "Rahila"  # Dynamic Typing

In [77]:
# Static vs Dynamic Binding

# static binding
# int age = 36
# age = "Kislay"

# In other programming language the above code will throw the error because it doesnt support binding

In [81]:
# Dynamic Binding
age = 36
print(age)
print(type(age))
age = "kislay"
print(age)
print(type(age))

36
<class 'int'>
kislay
<class 'str'>

In [82]:
age = 34

In [83]:
# Stylized Declaration

In [87]:
name, age = "Kislay", 23

print(name)
print(age)

Kislay
23

In [88]:
a = b = 2
print(a)
print(b)

2
2

In [90]:
# Comments
# Hi how are you

In [91]:
# Compiler/Interpretator

In [92]:
# Compiled languages -> The whole code has to be executed before getting the output -> java
# Interpreted language -> The execution happens line by line -> python

In [72]:
# Type Conversion - Implicit/ Explicit

3/4

0.75

In [74]:
# Implicit conversion
3.5/2

1.75

In [76]:
# Explicit conversion

# height = int(input("Enter the height: "))
# weight = float(input("Enter the age: "))

# Write a program which will ask the user to give the age and the weight and you will have to calculate the BMI.

# weight/(height ** 2)

In [81]:
age = 18
# 18 is the literal

# age is the name of the placeholder and it is called as identifier
# 18 is the value stored in the variable and it is called as literal

In [90]:
# integer literal
age = 18

# string literal
name = "Rahila"

# Boolean literal
is_working = True

# Float/Decimal literal
height = 1.8

In [86]:
# Binary Literal - 0b1001 

bin_var = 0b1010
print(bin_var)

10

In [87]:
# Octal Literal - 0o123  

oct_var = 0o123
print(oct_var)

83

In [91]:
# hexadecimal Literal - 0xABC_DEF 

print(0xABC_DEF)

11259375

In [96]:
# exponentiona literal 
print(10e204)

1e+205

In [97]:
# Complex Literal
print(3 + 5j)

(3+5j)

In [98]:
None

In [104]:
# None is basically used when we dont have any values to assign to the variables. None means nothing-ness

name_2 = None
age_2 = None
gender_2 = None

In [111]:
# Type Casting/Type Conversion

# in python we have type conversion

age = int(input("Please enter the age: "))

print("The final age is", age + 10)

print(type(age))

print("The final age is", age + 10)

The final age is 55
<class 'int'>
The final age is 55