In [1]:
# showing the output the enduser

In [2]:
# func_name()

print('Kislay')

Kislay

In [3]:
print(I am Kislay, how are you)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1858157907.py, line 1)

In [ ]:
print(5)
print(1.5)

5
1.5

In [ ]:
# Numbers - Integer, float, Complex we dont need the double quotation/single quotation
# String - needs the double quotation/single quotation

In [ ]:
# Data Types including complex numbers

In [ ]:
# string
print("Hi how are you")

Hi how are you

In [ ]:
# integer
print(3)
print(-3)

type(3)

3
-3

int

In [ ]:
print(1e309)

inf

In [ ]:
# float or decimal number
print(3.34224)
print(-3.123123)

type(3.4)

3.34224
-3.123123

float

In [ ]:
print(1.1e308)

1.1e+308

In [ ]:
# complex
print(2.7 + 3j)

type(2.7 + 3j)

(2.7+3j)

complex

In [ ]:
# boolean
print(True)

type(True)

True

bool

In [ ]:
False

False

In [ ]:
# list

print([1,2,3, "Rahila", "Megha12", True])

[1, 2, 3, 'Rahila', 'Megha12', True]

In [ ]:
# tuple
print((1,2,3, "Rahila", "Megha12", True))

type((1, 2, 3, 'Rahila', 'Megha12', True))

(1, 2, 3, 'Rahila', 'Megha12', True)

tuple

In [ ]:
# set
print({1,2,3, "Rahila", "Megha12", True})

{'Rahila', 1, 2, 3, 'Megha12'}

In [ ]:
# dictionary -> key - value pair
print({"name" : "Kislay", "age" : 36, "gender" : "male"})

type({'name': 'Kislay', 'age': 36, 'gender': 'male'})

{'name': 'Kislay', 'age': 36, 'gender': 'male'}

dict

In [ ]:
print("Kislay", end = "-")
print("Megha", end = "-")
print("Rahila", end = "-")

Kislay-Megha-Rahila-

In [ ]:
print("Kislay", "Raj", sep = " ")

Kislay Raj

In [ ]:
type("Kislay")

str

In [ ]:
type("2")

str

In [ ]:
# Variables

name = "Kislay"

In [ ]:
print(name)

Kislay

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
age = 12
is_married = False

In [ ]:
c_num = 3 + 5j

In [ ]:
c_num.real

3.0

In [ ]:
# Static vs Dynamic Typing

In [ ]:
# str name = "Rahila" -> Other programming language # Static Typing

name = "Rahila"  # Dynamic Typing

In [ ]:
# Static vs Dynamic Binding

# static binding
# int age = 36
# age = "Kislay"

# In other programming language the above code will throw the error because it doesnt support binding

In [ ]:
# Dynamic Binding
age = 36
print(age)
print(type(age))
age = "kislay"
print(age)
print(type(age))

36
<class 'int'>
kislay
<class 'str'>

In [ ]:
age = 34

In [ ]:
# Stylized Declaration

In [ ]:
name, age = "Kislay", 23

print(name)
print(age)

Kislay
23

In [ ]:
a = b = 2
print(a)
print(b)

2
2

In [ ]:
# Comments
# Hi how are you

In [ ]:
# Compiler/Interpretator

In [ ]:
# Compiled languages -> The whole code has to be executed before getting the output -> java
# Interpreted language -> The execution happens line by line -> python

In [4]:
# Python Keywords - they are reserved words -> print, type, input
# Identifiers - names which the programmer assigns -> name, age, gender

In [5]:
# Rules of naming identifiers

# # should not have any special character other than _
# # it should always start with either _ or an alphabet
# # it should never start with a number but it can have numbers at the end

In [13]:
name_1 = "Kislay"
_age = 34

In [15]:
_age = 35

In [16]:
# print() -> Displays the output the user
# type() -> Displays the type of the data

print("Kislay")
print(type("Kislay"))

Kislay
<class 'str'>

In [54]:
name = input("Enter you name :")
age = int(input("Enter the age: "))
weight = float(input("Enter the weight: "))
is_married = bool(input("Is married "))

In [55]:
print(name, age, weight, is_married)

Kislay 36 76.34 True

In [56]:
print(type(name), type(age), type(weight), type(is_married))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [37]:
val = input()

In [38]:
print(type(val))

<class 'str'>

In [41]:
type(int("3"))
# "4.6"
# "True"
# "[1, 2, 3]"

int

In [57]:
new_set = {1,2,3, "Rahila", "Megha12", True}

In [58]:
new_dict = {"name" : "kislay", "age" : 34}

In [60]:
num = 2.5
print(num)
print(type(num))
print("-------------------")
new_num = int(num)
print(new_num)
print(type(new_num))

2.5
<class 'float'>
-------------------
2
<class 'int'>

In [61]:
round(2.7)

3

In [62]:
int(2.7)

2

In [64]:
list_new = [23, 4235, 123, 45]

min(list_new)

23

In [68]:
# Addition of two numbers

num1= int(input("Enter the first number: "))
num2= int(input("Enter the second number: "))

print(num1 + num2)

6

In [69]:

num1= input("Enter the first number: ")
num2= input("Enter the second number: ")

print(int(num1) + int(num2))

7

In [71]:
type(num1)

str